<% include partials/header %>

<h1>hello</h1><br><br>
<h1>hello</h1><br><br>
<h1>hello</h1><br><br>

<!-- Have the Facebook login and Google Login in a pop up -->
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>


<% include partials/footer %>