<% include partials/header %>

<div class="container-fluid col-lg-12">

  <div id="img_carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#img_carousel" data-slide-to="0" class="active"></li>
      <li data-target="#img_carousel" data-slide-to="1"></li>
      <li data-target="#img_carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="width:100%">
    <div class="item active banner_image1">
      <div class="carousel-caption">
        <h1 class="banner_text col-lg-12 col-md-8">Discover & be discovered in your neighborhood.</h1>
      </div>
    </div>
    <div class="item banner_image2">
      <div class="carousel-caption">
        <h1 class="banner_text col-lg-12 col-md-8">Your hobby and your passions have an audience.</h1>
      </div>
    </div>
    <div class="item banner_image3">
      <div class="carousel-caption">
        <h1 class="banner_text col-lg-12 col-md-8">Share your creations, hire, or get hired for your skills.</h1>
      </div>
    </div>
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#img_carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#img_carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row icons col-lg-12">
    <div style="text-align:center col-lg-12">
    <h2 style="margin-top: 45px">MishMash is here to simplify the art experience.</h2>
    <h4 style="margin-bottom: 40px; margin-top: 15px">If you've ever wanted a tattoo, but didn't know which local artist fit your style...<br>
    or tried to get something altered, but didn't know which seamstress or tailor to trust...<br>
    or had a spare wall where a beautiful mural could go... MishMash has the people</h4>
    </div>
    <div class="col-md-4">
      <div class="circle" id="bike">
        <img src="images/old-bike.png">
        <div class="caption">
          <h4>Creativity beyond the canvas.</h4>
          <p>We support local artists<br>and new ideas from<br>all walks of life</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="circle" id="camera">
        <img src="images/camera.png">
        <div class="caption">
          <h4>Art takes many forms</h4>
          <p>From seamstresses, to tattoo artists, <br>we are redefining available art <br> and services</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="circle" id="painting">
        <img src="images/painting.png">
        <div class="caption">
          <h4>MishMash connects people</h4>
          <p>Discover local artists and innovators<br> in a wide range of categories</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="container-fluid search-bar">
    <h1 style="text-align:center">Sign up Today!</h1>
  </div>

</div>  <!-- closes out div container  -->

<script>$('.carousel').carousel()</script>


<script>
function setDimensions(){
   var windowsHeight = $(window).height();
   $('.item').css('height', windowsHeight + 'px');
   $('.carousel-caption').css('height', (windowsHeight/2) + 'px');

}

//when resizing the site, we adjust the heights of the sections
$(window).resize(function() {
    setDimensions();
});

setDimensions();
</script>

<% include partials/footer %>