<% include ../partials/user_nav %>

<html>
  <head>

<script>
function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(-34.397, 150.644)
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
      'callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript;
</script>

    <script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDzCw5dM7DygpMe9MT2mPkty_-5r5dheE">
</script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>



<script>
  var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
  var mapOptions = {
    zoom: 4,
    center: myLatlng
  }

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"Hello World!"
});
</script>


  </head>
  <body>


<div id="map-canvas" class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 50px"></div>
<div class="col-lg-6 col-md-6 col-sm-12 search-bar" style="margin-top: 50px">
    <h1 style="text-align:center">Search San Francisco for Local Artists</h1>
      <form action="/search" method="post" class="search_params">
        <select class="occupation1" name="Artist Categories">
          <option value="1">Architecture</option>
          <option value="2">Carpentry</option>
          <option value="3">Ceramics</option>
          <option value="4">Gastronomy</option>
          <option value="5">Glass</option>
          <option value="6">Illustrations</option>
          <option value="7">Installations</option>
          <option value="8">Interior Design</option>
          <option value="9">Jewelry</option>
          <option value="10">Landscape</option>
          <option value="11">Mural</option>
          <option value="12">Painting</option>
          <option value="13">Permaculture</option>
          <option value="14">Photography</option>
          <option value="15">Sculpture</option>
          <option value="16">Street Art</option>
          <option value="17">Tattoo</option>
          <option value="18">Textile</option>
        </select>
      <input type="hidden" name="source" value="bb"><button type="submit" class="search-button form-inline btn btn-primary btn-large" id="submit_location">
        Search</button>
      </form>
    </div>
  </div>
</div>








  </body>
</html>