<% include ../partials/user_nav %>

<div class="container">
<h1>Hello, <%=user.first_name%></h1><br>

<form action="/profile" method="post">

<p>Upload a Banner Image</p>
<input type="hidden" name="cover_photo"
  role="uploadcare-uploader"
  data-crop="1175:250"
  data-images-only="true" />
  <% if (user.cover_photo !== null) { %>
  <a href="<%= user.cover_photo %>" target="_blank">current image</a>
  <% }; %>
<br><br>

<p>Upload your Profile Picture</p>
<input type="hidden" name="profile_photo"
  role="uploadcare-uploader"
  data-crop="150:150"
  data-images-only="true" />
<img src="" alt="">
<% if (user.profile_photo !== null) { %>
  <a href="<%= user.profile_photo %>" target="_blank">current image</a>
  <% }; %>
<br><br>

<p>
  <label for="about_me">About Me</label><br>
  <textarea rows="4" cols="100" id="about_me" name="about_me" maxlength="500"><% if (user.about_me !== null) { %><%= user.about_me%><% }; %></textarea>
</p>

<br>

 <input type="submit" value="Save" class ="btn">
 </form>

</div>

<script src="//ucarecdn.com/widget/1.5.0/uploadcare/uploadcare-1.5.0.min.js"></script>

<script>
  uploadcare(null, {
    imagesOnly: true
  }).done(function(file) {
    console.log(file)
    file.promise().done(function(fileInfo){
      console.log(fileInfo.cdnUrl);
    });
  });
</script>

<% include ../partials/footer %>