<h1>here lay the messages</h1>

<ul id="messages"></ul>
    <form action="">
      <label for="nick">Nickname: </label><input id="nick" type="text">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      // var socket = io();
      // $('form').submit(function(){
      //   socket.emit('chat message', $('#m').val(), $('#nick').val());
      //   $('#m').val('');
      //   return false;
      // });
      // socket.on('chat message', function(msg, nick){
      //   $('#messages').append($('<li>').text(nick + ": " + msg));
      // });
    </script>