<!-- SUDO CODE -->
<!-- Display Albums and the Main Images
So, TITLE overlay
if mainImage === true {
  attach mainImage to the album cover
}
If isAvailable === true {
  show Album.price;
}
-->
<% include ../partials/user_nav %>

<h1>Artists Profile</h1>


<% include ../partials/footer %>